.cartCount {
  font-size: 12px;
  background: #E5383B;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -8px;

  &__badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }
}
